# Managed by ops/server/bootstrap.sh.
# Host/container-derived values are rendered at bootstrap time.

listen_addresses = 'localhost'
port = 5432
unix_socket_directories = '{{ postgres_socket_dir }}'

max_connections = {{ max_connections }}
shared_buffers = '{{ shared_buffers }}'
effective_cache_size = '{{ effective_cache_size }}'
work_mem = '{{ work_mem }}'
maintenance_work_mem = '{{ maintenance_work_mem }}'
autovacuum_work_mem = '{{ autovacuum_work_mem }}'

wal_buffers = '{{ wal_buffers }}'
wal_level = replica
wal_compression = on
archive_mode = on
archive_command = '/opt/trading/ops/backup/wal_archive.sh "%p" "%f"'
archive_timeout = '{{ archive_timeout }}'
min_wal_size = '{{ min_wal_size }}'
max_wal_size = '{{ max_wal_size }}'
wal_keep_size = '{{ wal_keep_size }}'
max_slot_wal_keep_size = '{{ max_slot_wal_keep_size }}'
checkpoint_timeout = '{{ checkpoint_timeout }}'
checkpoint_completion_target = {{ checkpoint_completion_target }}
random_page_cost = {{ random_page_cost }}
effective_io_concurrency = {{ effective_io_concurrency }}
maintenance_io_concurrency = {{ maintenance_io_concurrency }}

max_worker_processes = {{ max_worker_processes }}
max_parallel_workers = {{ max_parallel_workers }}
max_parallel_workers_per_gather = {{ max_parallel_workers_per_gather }}
max_parallel_maintenance_workers = {{ max_parallel_maintenance_workers }}
timescaledb.max_background_workers = {{ timescaledb_max_background_workers }}

shared_preload_libraries = 'timescaledb,pg_stat_statements'
password_encryption = scram-sha-256
track_io_timing = on
track_activity_query_size = 4096
pg_stat_statements.track = all

log_destination = 'stderr'
logging_collector = on
log_directory = '/var/log/postgresql'
log_filename = 'postgresql-16-main.log'
log_min_duration_statement = 250
log_checkpoints = on
log_connections = off
log_disconnections = off
log_lock_waits = on
deadlock_timeout = '1s'

autovacuum = on
autovacuum_max_workers = {{ autovacuum_max_workers }}
autovacuum_naptime = '{{ autovacuum_naptime }}'
autovacuum_vacuum_cost_limit = {{ autovacuum_vacuum_cost_limit }}
autovacuum_vacuum_cost_delay = '{{ autovacuum_vacuum_cost_delay }}'
default_statistics_target = 100
